<ion-header [translucent]="true">
    <ion-toolbar class="custom-header">
      <ion-title mode="md">Development Tools</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="safe-area-content">
    <ion-list>
  
      <ion-item button routerLink="/dev-caches">
        <ion-icon slot="start" name="archive-outline"></ion-icon>
        <ion-label>Caches</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-config">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Configuration</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-device-info">
        <ion-icon slot="start" name="phone-portrait-outline"></ion-icon>
        <ion-label>Device Information</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-logs-list">
        <ion-icon slot="start" name="copy-outline"></ion-icon>
        <ion-label>Logs</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-plugin-tests">
        <ion-icon slot="start" name="code-working-outline"></ion-icon>
        <ion-label>Plugin Tests</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-push-notifications">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Push Notifications</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-test-tools">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Tools</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
      <ion-item button routerLink="/dev-user">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>User</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
  
    </ion-list>
  </ion-content>
  