// Developer page styles
.developer-page {
  // Add your developer page styles here
}

.custom-header {
  --background: #145583;
  --color: #fff;
}

ion-header {
  padding-top: 0 !important;
}
ion-toolbar {
  --padding-top: 0 !important;
  --min-height: 56px;
}
