.button-container {
  margin-top: 24px;
}

ion-header {
  padding-top: env(safe-area-inset-top);
}

ion-toolbar {
  --padding-top: 0 !important;
  --min-height: 56px;
}

ion-content {
  --padding-bottom: env(safe-area-inset-bottom);
}
