<ion-header>
  <ion-toolbar class="custom-header">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ viewModel.promptText }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pin-entry-modern">
  <div class="pin-display" [class.landscape]="isLandscape">
    <div
      class="pin-dash-wrapper"
      *ngFor="let digit of viewModel.pinDigits; let i = index"
    >
      <div class="pin-dot" [class.filled]="digit !== ''"></div>
      <div class="pin-dash">-</div>
    </div>
  </div>

  <div class="pin-numpad" [class.landscape]="isLandscape">
    <ion-grid>
      <ion-row *ngFor="let row of [[1,2,3],[4,5,6],[7,8,9],[null,0,'clear']]">
        <ion-col size="4" *ngFor="let val of row">
          <ng-container *ngIf="val !== null">
            <ion-button
              expand="block"
              fill="clear"
              class="pin-key"
              (click)="val === 'clear' ? clear_click() : number_click(val)"
            >
              <ng-container *ngIf="val === 'clear'">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="28"
                  height="28"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#fff"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="15" y1="9" x2="9" y2="15"></line>
                  <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
              </ng-container>
              <ng-container *ngIf="val !== 'clear'">{{ val }}</ng-container>
            </ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
