// Dev Plugin Tests page styles
.dev-plugin-tests-page {
  // Add your styles here
}

.custom-header {
  --background: linear-gradient(to right, #145583, #6cb1df);
  --color: #fff;
}

ion-header {
  padding-top: 0 !important;
}
ion-toolbar {
  --padding-top: 0 !important;
  --min-height: 56px;
}
