// Dev Config component styles
.dev-config {
  // Add your dev config styles here
}

.custom-header {
  --background: #145583;
  --color: #fff;
}

ion-header {
  padding-top: 0 !important;
}
ion-toolbar {
  --padding-top: 0 !important;
  --min-height: 56px;
}
