ion-tab-bar {
  height: 56px;
  --padding-bottom: 0 !important;
  ion-tab-button {
    &.tab-selected {
      ion-icon {
        color: #145583;
      }
      ion-label {
        color: #145583;
      }
    }
  }
}
