@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";

:root {
  --ion-safe-area-top: env(safe-area-inset-top, 24px);
  --ion-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --ion-safe-area-left: env(safe-area-inset-left, 0px);
  --ion-safe-area-right: env(safe-area-inset-right, 0px);
}

ion-header {
  --ion-safe-area-top: constant(safe-area-inset-top);
  --ion-safe-area-top: env(safe-area-inset-top);
}

ion-toolbar {
  padding-left: var(--ion-safe-area-left);
  padding-right: var(--ion-safe-area-right);
}

.safe-area-top {
  padding-top: var(--ion-safe-area-top);
}

.safe-area-bottom {
  padding-bottom: var(--ion-safe-area-bottom);
}

.safe-area-left {
  padding-left: var(--ion-safe-area-left);
}

.safe-area-right {
  padding-right: var(--ion-safe-area-right);
}

.safe-area-all {
  padding: var(--ion-safe-area-top) var(--ion-safe-area-right)
    var(--ion-safe-area-bottom) var(--ion-safe-area-left);
}

.error-dialog-modal {
  --width: 90%;
  --max-width: 500px;
  --max-height: 90%;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  margin: auto;
}

.error-dialog-modal ion-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.error-dialog-modal .modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .error-dialog-modal {
    --width: 500px;
  }
}
