:host-context(.ios) {
  ion-toolbar {
    --ion-title-text-align: center;
  }

  ion-title {
    width: 100%;
    text-align: center;
    padding-left: 15%;
  }
}
.account-push-notifications {
  .help-image {
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.android {
      background-image: url("../images/pn-help-android.png");
    }

    &.ios {
      background-image: url("../images/pn-help-ios.png");
    }
  }
}
