
.account-push-notifications {

    .help-image {

        width: 100%;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        &.android {
            background-image: url("../images/pn-help-android.png");
        }

        &.ios {
            background-image: url("../images/pn-help-ios.png");
        }
    }
}
